body, ul, html{
    margin: 0;
    padding: 0;
}
img{
    width: 40px;
    border-radius: 50px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(182, 3, 189);
}

a:hover{
    background: rgb(170, 169, 169);
}

.header{
    box-sizing: border-box;
    height: 70px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(196, 190, 190,0.5);
}

.menu{
    display: flex;
    list-style: none;
    /* Espaçamento entre itens */
    /* gap: .5rem;   */
    justify-content: space-around;
}

.menu a{
    display: block;
    padding: 20px;
}

.divHome{
    background-color: rgb(218, 218, 218);
    width: 100vw;
    height: 80vh;   
}

.divSobre{
    background-image: url('../image/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100vw;
    height: 140vh;
    
}

.divPortfolio{
    background-color: rgb(218, 218, 218);
    width: 100vw;
    height: 100vh;
}
